# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
.venv/
.ipynb_checkpoints/

# VSCode
.vscode/

# Environments
.env
*.env

# Data files
data/raw/*
data/processed/*
*.csv
*.json

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db
